:root {
    --text-logo-font-family: "Nova Square";
    --body-font-family: 'Nunito';
}

body {
    background-color: white;
    font-family: var(--body-font-family);
    margin: 48px;
}

.text-logo {
    font-family: var(--text-logo-font-family);
    color: #000;
}

#header-logo {
    font-size: 24px;
}

#footer-logo {
    font-size: 112px;
    text-align: center;
}

.highlighted-text {
    /* color: black;
    background-color: white;
    text-decoration: underline; */

    color: white;
    background-color: black;
    text-decoration: none;
}

.highlighted-text:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}