* {
    margin: 0;
    padding: 0;
}

:root {
    --text-logo-font-family: "Nova Square";
    --body-font-family: 'Nunito';
    /* Light Theme Properties */
    --light-background-color: white;
    --light-high-emphasis-text-color: rgb(0, 0, 0, 0.87);
    --light-low-emphasis-text-color: rgb(0, 0, 0, 0.6);
    /* Dark Theme Properties */
    --dark-background-color: #121212;
    --dark-high-emphasis-text-color: rgb(255, 255, 255, 0.87);
    --dark-low-emphasis-text-color: rgb(255, 255, 255, 0.6);
    /* Default properties */
    --background-color: var(--light-background-color);
    --high-emphasis-text-color: var(--light-high-emphasis-text-color);
    --low-emphasis-text-color: var(--light-low-emphasis-text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--dark-background-color);
        --high-emphasis-text-color: var(--dark-high-emphasis-text-color);
        --low-emphasis-text-color: var(--dark-low-emphasis-text-color);
        font-weight: 300;
    }
}

body {
    background-color: var(--background-color);
    font-family: var(--body-font-family);
    margin: 5vh 10vw 5vh 10vw;
    font-size: 4vw;
    line-height: 1.5;
    color: var(--low-emphasis-text-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links {
    display: none;
    list-style-type: none;
}

#nav-links:target {
    display: flex;
    background-color: var(--background-color);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 4vw;
    margin: 5vh 10vw 5vh 10vw;
}

#close-modal {
    display: inline-block;
}

#modal-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    left: 0;
    right: 0;
    position: absolute;
}

.text-logo {
    font-family: var(--text-logo-font-family);
    color: var(--background-color);
    background-color: var(--high-emphasis-text-color);
    padding: 4px 8px;
    border-radius: 4px;
}

#main {
    margin-bottom: 10vh;
}

#main p {
    margin-bottom: 2vh;
}

#copy {
    margin-bottom: 8vh;
}

#header {
    margin-bottom: 6vh;
}

#header-logo {
    font-size: 6vw;
}

#modal-logo {
    display: inline-block;
    font-size: 6vw;
}

#footer-logo {
    font-size: 7.7vw;
    text-align: center;
    font-family: var(--text-logo-font-family);
    color: var(--high-emphasis-text-color);
}

.highlight {
    box-shadow: inset 0px -2px 0 0px var(--high-emphasis-text-color);
    padding: 2px;
}

.highlight:hover {
    background-color: var(--high-emphasis-text-color);
    border-radius: 4px;

}

.highlighted-text {
    color: var(--high-emphasis-text-color);
    text-decoration: none;
}

.highlighted-text:hover {
    color: var(--background-color);
}

@media (min-width: 768px) {
    body {
        font-size: 1.5vw;
    }
    #header-logo {
        font-size: 3vw;
    }
    #nav-links {
        display: inline-block;
    }
    #nav-links li {
        display: inline;
        margin-left: 8px;
    }
    #nav-links #footer-logo {
        display: none;
    }
    #open-modal {
        display: none;
    }
    #close-modal {
        display: none;
    }
    #modal-logo {
        display: none;
    }
}

.bottom-links {
    display: flex;
    justify-content: center;
}

.bottom-links a {
    margin: 0 3vw 0 0;
}